body {
  text-transform: uppercase;
  font-size: 12pt;
  color: rgb(255, 255, 255);
  background-color: rgb(12, 12, 12);
}

html, body {margin: 0; height: 100%; overflow-x: hidden}

div.bob {
  background-color: blue;
}

.button {
  background-color: whitesmoke;
  border-color: black;
  border-radius: 3px;
  border-style: solid;
}

.be5big {
  width: 32px;
}

.btn_increment {
  background-color: black;
  color: lightgray;
  width: 50px;
  height: 1em;
  font-family: Consolas, monospace; 
  font-size: 76pt;
  text-align: center;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn_toggle {
  font-family: Consolas, monospace; 
  font-size: 28pt;
  /*text-align: right;
  /*vertical-align: middle;
  /*justify-content: center;
  /*align-items: center;*/
  width: 155px;
  height: 66px;
  border-radius: 20px;
}

.big-toggle > .btn_toggle {
  font-family: Consolas, monospace; 
  font-size: 23pt;
  width: 250px;
  height: 66px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 20px;
}

.btn_toggle[value="true"] {
  background-color: var(--data-color-on, yellow);
}

.btn_toggle[value="false"] {
  background-color: var(--data-color-off, gray);
}

.toggle {
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.slider {
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.sliderelement {
  width: 500px;
}

.fieldday {
  font: Arial;
  font-size: 38pt;
  width: 1.5em;
  height: 2em;
  text-align: center;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.incremental {
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.period-name {
  color: rgb(255, 255, 255);
}

.bool {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  justify-content: center;
}

h1 {
  font-size: 48pt;
  text-align: center;
}

h2 {
  font-size: 24pt;
  color: rgb(255, 255, 255);
  text-align: left;
  font-weight: bold;
}

h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  padding: 20px;
}

h5 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  padding: 1px;
}

h6 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  padding: 9px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.endbutton {
  width:30px;
  height:30px;
  vertical-align: bottom;
}

.centered-checkbox {
  display: block;
  text-align: center;
}

.right-checkbox {
  display: block;
  text-align: right;
}

.left-checkbox {
  display: block;
  text-align: left;
}

.float-container {
    border: 3px solid .fff;
    padding: 20px;
}

.big-float-container {
  overflow: hidden;
}

.float-child {
  width: 40%;
  float: center;
  padding: 20px;
}

.column {
  float: left;
  width: 30%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

textarea { word-break: break-all;
  font: 15pt arial, helvetica, sans-serif;
  padding: 5px;
 }

.box_1 {
  float: left;
  padding: 0%;
  width: 300px;
  padding: 10px;
  height: 350px;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 15px;
}

.box_2 {
  float: center;
  width: 270px;
  height: 120px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 30px;
}

.box_3 {
  float: center;
  height: 540px;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 15px;
}

.box_4 {
  float: right;
  padding: 0%;
  width: 300px;
  height: 350px;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 15px;
  padding: 10px;
}

.box_5 {
  float: center;
  height: 162px;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 15px;
  padding: 10px;
}

.box_6 {
  float: center;
  height: 65px;
  width: 302px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 30px;
}

.box_7 {
  float: center;
  height: 162px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 30px;
  padding: 35px
}

.box_8 {
  float: center;
  width: 380px;
  height: 65px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 30px;
}

.box_9 {
  height: 122px;
  width: 523px;
  background: rgba(255, 255, 255, 0.07);
  opacity: 0.7;
  border-radius: 30px;
  float: left;
}

input::placeholder {
  color: white;
  opacity: 1;
}

#comments {
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}