body {
  text-transform: uppercase;
  font-size: 24pt;
  color: rgb(40, 170, 51);
  background-color: rgb(244, 244, 244);
}

div#bob {
  background-color: blue;
}

.button {
  background-color: whitesmoke;
  border-color: black;
  border-radius: 3px;
  border-style: solid;
}

.be5big {
  width: 32px;
}

.btn {
  width: 100px;
  height: 100px;
  font-family: Consolas, monospace; 
  font-size: 76pt;
  text-align: center;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.fieldday {
  font: Arial;
  font-size: 38pt;
  width: 2em;
  height: 2em;
  text-align: center;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.incremental {
      text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.period-name {
  color: rgb(59, 155, 235);
}

.bool {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  justify-content: center;
}

h1 {
  font-size: 48pt;
  text-align: center;
}

h2 {
  font-size: 24pt;
  color: rgb(40, 170, 51);
  text-align: left;
  font-weight: bold;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.endbutton {
  width:1.4em;
  height:1.4em;
  vertical-align: bottom;
}

.centered-checkbox {
  display: block;
  text-align: center;
}

.right-checkbox {
  display: block;
  text-align: right;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}
